In [1]:
import pandas as pd

In [4]:
weather_df = pd.read_csv(r"C:\Users\mpatil46\OneDrive - Capgemini\Desktop\PythonCourse\Pandas_WeatherDataset\weather_2012.csv")
print('Shape:',weather_df.shape)
print('index:',weather_df.index)

Shape: (8784, 8)
index: RangeIndex(start=0, stop=8784, step=1)

In [5]:
weather_df.head()

,Date/Time,Temp (C),Dew Point Temp (C),Rel Hum (%),Wind Spd (km/h),Visibility (km),Stn Press (kPa),Weather
0,2012-01-01 00:00:00,-1.8,-3.9,86,4,8.0,101.24,Fog
1,2012-01-01 01:00:00,-1.8,-3.7,87,4,8.0,101.24,Fog
2,2012-01-01 02:00:00,-1.8,-3.4,89,7,4.0,101.26,"Freezing Drizzle,Fog"
3,2012-01-01 03:00:00,-1.5,-3.2,88,6,4.0,101.27,"Freezing Drizzle,Fog"
4,2012-01-01 04:00:00,-1.5,-3.3,88,7,4.8,101.23,Fog

In [6]:
weather_df['Date/Time'].head()

0    2012-01-01 00:00:00
1    2012-01-01 01:00:00
2    2012-01-01 02:00:00
3    2012-01-01 03:00:00
4    2012-01-01 04:00:00
Name: Date/Time, dtype: object

In [7]:
weather_df['Date/Time']=pd.to_datetime(weather_df['Date/Time'])

In [8]:
weather_df['Date/Time'].head()

0   2012-01-01 00:00:00
1   2012-01-01 01:00:00
2   2012-01-01 02:00:00
3   2012-01-01 03:00:00
4   2012-01-01 04:00:00
Name: Date/Time, dtype: datetime64[ns]

In [9]:
weather_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8784 entries, 0 to 8783
Data columns (total 8 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Date/Time           8784 non-null   datetime64[ns]
 1   Temp (C)            8784 non-null   float64
 2   Dew Point Temp (C)  8784 non-null   float64
 3   Rel Hum (%)         8784 non-null   int64
 4   Wind Spd (km/h)     8784 non-null   int64
 5   Visibility (km)     8784 non-null   float64
 6   Stn Press (kPa)     8784 non-null   float64
 7   Weather             8784 non-null   object
dtypes: datetime64[ns](1), float64(4), int64(2), object(1)
memory usage: 549.1+ KB

In [12]:
weather_df['Weather'].unique()

array(['Fog', 'Freezing Drizzle,Fog', 'Mostly Cloudy', 'Cloudy', 'Rain',
       'Rain Showers', 'Mainly Clear', 'Snow Showers', 'Snow', 'Clear',
       'Freezing Rain,Fog', 'Freezing Rain', 'Freezing Drizzle',
       'Rain,Snow', 'Moderate Snow', 'Freezing Drizzle,Snow',
       'Freezing Rain,Snow Grains', 'Snow,Blowing Snow', 'Freezing Fog',
       'Haze', 'Rain,Fog', 'Drizzle,Fog', 'Drizzle',
       'Freezing Drizzle,Haze', 'Freezing Rain,Haze', 'Snow,Haze',
       'Snow,Fog', 'Snow,Ice Pellets', 'Rain,Haze', 'Thunderstorms,Rain',
       'Thunderstorms,Rain Showers', 'Thunderstorms,Heavy Rain Showers',
       'Thunderstorms,Rain Showers,Fog', 'Thunderstorms',
       'Thunderstorms,Rain,Fog',
       'Thunderstorms,Moderate Rain Showers,Fog', 'Rain Showers,Fog',
       'Rain Showers,Snow Showers', 'Snow Pellets', 'Rain,Snow,Fog',
       'Moderate Rain,Fog', 'Freezing Rain,Ice Pellets,Fog',
       'Drizzle,Ice Pellets,Fog', 'Drizzle,Snow', 'Rain,Ice Pellets',
       'Drizzle,Snow,Fog', 'Rain,Snow Grains', 'Rain,Snow,Ice Pellets',
       'Snow Showers,Fog', 'Moderate Snow,Blowing Snow'], dtype=object)

In [13]:
len(weather_df['Weather'].unique())

50

In [14]:
weather_df['Weather'].nunique()

50

In [15]:
weather_df['Weather'].value_counts()

Mainly Clear                               2106
Mostly Cloudy                              2069
Cloudy                                     1728
Clear                                      1326
Snow                                        390
Rain                                        306
Rain Showers                                188
Fog                                         150
Rain,Fog                                    116
Drizzle,Fog                                  80
Snow Showers                                 60
Drizzle                                      41
Snow,Fog                                     37
Snow,Blowing Snow                            19
Rain,Snow                                    18
Thunderstorms,Rain Showers                   16
Haze                                         16
Drizzle,Snow,Fog                             15
Freezing Rain                                14
Freezing Drizzle,Snow                        11
Freezing Drizzle                              7
Snow,Ice Pellets                              6
Freezing Drizzle,Fog                          6
Snow,Haze                                     5
Freezing Fog                                  4
Snow Showers,Fog                              4
Moderate Snow                                 4
Rain,Snow,Ice Pellets                         4
Freezing Rain,Fog                             4
Freezing Drizzle,Haze                         3
Rain,Haze                                     3
Thunderstorms,Rain                            3
Thunderstorms,Rain Showers,Fog                3
Freezing Rain,Haze                            2
Drizzle,Snow                                  2
Rain Showers,Snow Showers                     2
Thunderstorms                                 2
Moderate Snow,Blowing Snow                    2
Rain Showers,Fog                              1
Thunderstorms,Moderate Rain Showers,Fog       1
Snow Pellets                                  1
Rain,Snow,Fog                                 1
Moderate Rain,Fog                             1
Freezing Rain,Ice Pellets,Fog                 1
Drizzle,Ice Pellets,Fog                       1
Thunderstorms,Rain,Fog                        1
Rain,Ice Pellets                              1
Rain,Snow Grains                              1
Thunderstorms,Heavy Rain Showers              1
Freezing Rain,Snow Grains                     1
Name: Weather, dtype: int64

In [16]:
#cloudy weather count
weather_df['Weather'].value_counts()[2]

1728

In [17]:
weather_df.head()

,Date/Time,Temp (C),Dew Point Temp (C),Rel Hum (%),Wind Spd (km/h),Visibility (km),Stn Press (kPa),Weather
0,2012-01-01 00:00:00,-1.8,-3.9,86,4,8.0,101.24,Fog
1,2012-01-01 01:00:00,-1.8,-3.7,87,4,8.0,101.24,Fog
2,2012-01-01 02:00:00,-1.8,-3.4,89,7,4.0,101.26,"Freezing Drizzle,Fog"
3,2012-01-01 03:00:00,-1.5,-3.2,88,6,4.0,101.27,"Freezing Drizzle,Fog"
4,2012-01-01 04:00:00,-1.5,-3.3,88,7,4.8,101.23,Fog

In [18]:
cols= weather_df[['Temp (C)','Weather']]
print(type(cols))
cols.head()

<class 'pandas.core.frame.DataFrame'>

   Temp (C)               Weather
0      -1.8                   Fog
1      -1.8                   Fog
2      -1.8  Freezing Drizzle,Fog
3      -1.5  Freezing Drizzle,Fog
4      -1.5                   Fog

In [20]:
#instead of using indexing use loc and iloc with large dataframes.
#loc goes on label basis
weather_df.loc[0:5,['Temp (C)','Weather']]

   Temp (C)               Weather
0      -1.8                   Fog
1      -1.8                   Fog
2      -1.8  Freezing Drizzle,Fog
3      -1.5  Freezing Drizzle,Fog
4      -1.5                   Fog
5      -1.4                   Fog

In [22]:
#iloc goes on index based 
weather_df[['Temp (C)','Weather']].iloc[0:5]

   Temp (C)               Weather
0      -1.8                   Fog
1      -1.8                   Fog
2      -1.8  Freezing Drizzle,Fog
3      -1.5  Freezing Drizzle,Fog
4      -1.5                   Fog

In [26]:
snowFilter=weather_df['Weather'].str.lower().str.contains('snow')

In [27]:
weather_df['Weather'].iloc[8781]

'Snow'

In [28]:
weather_df[snowFilter]

,Date/Time,Temp (C),Dew Point Temp (C),Rel Hum (%),Wind Spd (km/h),Visibility (km),Stn Press (kPa),Weather
41,2012-01-02 17:00:00,-2.1,-9.5,57,22,25.0,99.66,Snow Showers
44,2012-01-02 20:00:00,-5.6,-13.4,54,24,25.0,100.07,Snow Showers
45,2012-01-02 21:00:00,-5.8,-12.8,58,26,25.0,100.15,Snow Showers
47,2012-01-02 23:00:00,-7.4,-14.1,59,17,19.3,100.27,Snow Showers
48,2012-01-03 00:00:00,-9.0,-16.0,57,28,25.0,100.35,Snow Showers
...,...,...,...,...,...,...,...,...
8779,2012-12-31 19:00:00,0.1,-2.7,81,30,9.7,100.13,Snow
8780,2012-12-31 20:00:00,0.2,-2.4,83,24,9.7,100.03,Snow
8781,2012-12-31 21:00:00,-0.5,-1.5,93,28,4.8,99.95,Snow
8782,2012-12-31 22:00:00,-0.2,-1.8,89,28,9.7,99.91,Snow
8783,2012-12-31 23:00:00,0.0,-2.1,86,30,11.3,99.89,Snow

In [29]:
weather_df['Wind Spd (km/h)'].head()

0    4
1    4
2    7
3    6
4    7
Name: Wind Spd (km/h), dtype: int64

In [30]:
weather_df['Wind Spd (km/h)']+5

0        9
1        9
2       12
3       11
4       12
        ..
8779    35
8780    29
8781    33
8782    33
8783    35
Name: Wind Spd (km/h), Length: 8784, dtype: int64

In [32]:
#apply func
def timesFunc(value):
    return value*2

In [33]:
weather_df['Wind Spd (km/h)'].head()

0    4
1    4
2    7
3    6
4    7
Name: Wind Spd (km/h), dtype: int64

In [34]:
#apply keyword is used to functions
weather_df['Wind Spd (km/h)'].apply(timesFunc)

0        8
1        8
2       14
3       12
4       14
        ..
8779    60
8780    48
8781    56
8782    56
8783    60
Name: Wind Spd (km/h), Length: 8784, dtype: int64

In [35]:
weather_df['Wind Spd (km/h)'].describe()

count    8784.000000
mean       14.945469
std         8.688696
min         0.000000
25%         9.000000
50%        13.000000
75%        20.000000
max        83.000000
Name: Wind Spd (km/h), dtype: float64

In [36]:
#renaming a column
weather_df.rename(columns={'Wind Spd (km/h)':'Wind Speed (km/h)'},inplace=True)

In [37]:
weather_df.head()

,Date/Time,Temp (C),Dew Point Temp (C),Rel Hum (%),Wind Speed (km/h),Visibility (km),Stn Press (kPa),Weather
0,2012-01-01 00:00:00,-1.8,-3.9,86,4,8.0,101.24,Fog
1,2012-01-01 01:00:00,-1.8,-3.7,87,4,8.0,101.24,Fog
2,2012-01-01 02:00:00,-1.8,-3.4,89,7,4.0,101.26,"Freezing Drizzle,Fog"
3,2012-01-01 03:00:00,-1.5,-3.2,88,6,4.0,101.27,"Freezing Drizzle,Fog"
4,2012-01-01 04:00:00,-1.5,-3.3,88,7,4.8,101.23,Fog

In [39]:
#drop column
df=weather_df.drop(labels=['Wind Speed (km/h)'],axis=1)
print(df.head())

            Date/Time  Temp (C)  Dew Point Temp (C)  Rel Hum (%)  \
0 2012-01-01 00:00:00      -1.8                -3.9           86
1 2012-01-01 01:00:00      -1.8                -3.7           87
2 2012-01-01 02:00:00      -1.8                -3.4           89
3 2012-01-01 03:00:00      -1.5                -3.2           88
4 2012-01-01 04:00:00      -1.5                -3.3           88

   Visibility (km)  Stn Press (kPa)               Weather
0              8.0           101.24                   Fog
1              8.0           101.24                   Fog
2              4.0           101.26  Freezing Drizzle,Fog
3              4.0           101.27  Freezing Drizzle,Fog
4              4.8           101.23                   Fog

In [40]:
weather_df.head()

,Date/Time,Temp (C),Dew Point Temp (C),Rel Hum (%),Wind Speed (km/h),Visibility (km),Stn Press (kPa),Weather
0,2012-01-01 00:00:00,-1.8,-3.9,86,4,8.0,101.24,Fog
1,2012-01-01 01:00:00,-1.8,-3.7,87,4,8.0,101.24,Fog
2,2012-01-01 02:00:00,-1.8,-3.4,89,7,4.0,101.26,"Freezing Drizzle,Fog"
3,2012-01-01 03:00:00,-1.5,-3.2,88,6,4.0,101.27,"Freezing Drizzle,Fog"
4,2012-01-01 04:00:00,-1.5,-3.3,88,7,4.8,101.23,Fog

In [42]:
# sort_Values
weather_df['Temp (C)'].sort_values(ascending=False).head()

4695    33.0
4143    33.0
4696    32.9
5199    32.8
4694    32.7
Name: Temp (C), dtype: float64

In [45]:
weather_df['Temp (C)'].value_counts().sort_values(ascending=False).head()

16.6    65
1.1     58
0.8     47
1.5     45
19.3    44
Name: Temp (C), dtype: int64

In [ ]:
# merge has inner,left, right
#concat joins the dfs
#joins has inner & outer joins

In [47]:
#datetime
df= pd.DataFrame({'Date':['1/10/2010','2/10/2010','3/10/2010'],'values':[1,2,3]})
df

        Date  values
0  1/10/2010       1
1  2/10/2010       2
2  3/10/2010       3

In [48]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Date    3 non-null      object
 1   values  3 non-null      int64
dtypes: int64(1), object(1)
memory usage: 176.0+ bytes

In [49]:
df=pd.to_datetime(df['Date'])
df

0   2010-01-10
1   2010-02-10
2   2010-03-10
Name: Date, dtype: datetime64[ns]

In [52]:
df1=pd.DataFrame({'value':[1,2,3]})
df1

   value
0      1
1      2
2      3

In [58]:
df1.reset_index()

   index  value
0      0      1
1      1      2
2      2      3

In [59]:
df.reset_index()

   index       Date
0      0 2010-01-10
1      1 2010-02-10
2      2 2010-03-10

In [64]:
new_df=pd.concat([df,df1],axis=1)
# new_df=df.merge(df1,how='cross')
new_df

        Date  value
0 2010-01-10      1
1 2010-02-10      2
2 2010-03-10      3

In [66]:
new_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Date    3 non-null      datetime64[ns]
 1   value   3 non-null      int64
dtypes: datetime64[ns](1), int64(1)
memory usage: 176.0 bytes

In [73]:
new_df['Date']=pd.to_datetime(new_df['Date'], format="%Y/%m/%d %H:%M:%S")

In [74]:
new_df['Date']

0   2010-01-10
1   2010-02-10
2   2010-03-10
Name: Date, dtype: datetime64[ns]

In [75]:
new_df

        Date  value
0 2010-01-10      1
1 2010-02-10      2
2 2010-03-10      3

In [ ]:
#to_datetime func use errors= ignore then it will ignore invalid values
#errors= coerce it will replace that invalid value to Nat (NAN) value.

In [76]:
new_df['month']= new_df['Date'].dt.month
new_df['month']

0    1
1    2
2    3
Name: month, dtype: int64

In [78]:
new_df

        Date  value  month
0 2010-01-10      1      1
1 2010-02-10      2      2
2 2010-03-10      3      3

In [ ]:
#datetime function'
# if we give month year and day in pd.to_datetime(df) it will give us date in DD-MMM-YYYY format
#if we give date in DDMMMYYYY format you can separate the values into day month and year in each separate column
#using df.dt.month/year/day

In [79]:
#calculate birth year
today=pd.to_datetime('today')
today

Timestamp('2023-09-02 17:07:17.812475')

In [83]:
df['age']=pd.to_datetime('25-09-1990')
age= today.year-df['age'].year
age

33

In [84]:
#different file formats
#JSON File Format
import json
with open('data_file.json','r') as f:
    data= json.load(f)

In [85]:
type(data)

dict

In [86]:
data

{'president': {'name': 'Zaphod Beeblebrox', 'species': 'Betelgeusian'}}

In [87]:
import pandas as pd
dt=pd.read_json('data_file.json', orient='president')
dt

                 president
name     Zaphod Beeblebrox
species       Betelgeusian

In [88]:
#convert dict to df
df3=pd.DataFrame.from_dict(dt)
df3

                 president
name     Zaphod Beeblebrox
species       Betelgeusian

In [89]:
type(df3)

pandas.core.frame.DataFrame

In [90]:
pip install openpyxl

Requirement already satisfied: openpyxl in c:\users\mpatil46\appdata\local\continuum\anaconda3\lib\site-packages (3.0.0)
Requirement already satisfied: et-xmlfile in c:\users\mpatil46\appdata\local\continuum\anaconda3\lib\site-packages (from openpyxl) (1.0.1)
Requirement already satisfied: jdcal in c:\users\mpatil46\appdata\local\continuum\anaconda3\lib\site-packages (from openpyxl) (1.4.1)
Note: you may need to restart the kernel to use updated packages.

In [103]:
#avro file format
import avro
import copy
import json
from avro.datafile import DataFileReader,DataFileWriter
from avro.io import DatumWriter, DatumReader

In [104]:
pip install pandavro

Collecting pandavro
  Downloading https://files.pythonhosted.org/packages/5e/38/16d192b6fec75d4416fb923e6f09f0768200452b3cdc4c6d9ccfa451df88/pandavro-1.7.2-py3-none-any.whl
Requirement already satisfied: pandas>=1.1 in c:\users\mpatil46\appdata\local\continuum\anaconda3\lib\site-packages (from pandavro) (1.3.5)
Requirement already satisfied: numpy>=1.15.4 in c:\users\mpatil46\appdata\local\continuum\anaconda3\lib\site-packages (from pandavro) (1.21.6)
Collecting fastavro~=1.5.1 (from pandavro)
  Downloading https://files.pythonhosted.org/packages/bc/75/c59476db261c4200e0f09533e409a3568eeb54d5704a3afdbbb295fbc7bd/fastavro-1.5.4-cp37-cp37m-win_amd64.whl (428kB)
Requirement already satisfied: python-dateutil>=2.7.3 in c:\users\mpatil46\appdata\local\continuum\anaconda3\lib\site-packages (from pandas>=1.1->pandavro) (2.8.0)
Requirement already satisfied: pytz>=2017.3 in c:\users\mpatil46\appdata\local\continuum\anaconda3\lib\site-packages (from pandas>=1.1->pandavro) (2019.3)
Requirement already satisfied: six>=1.5 in c:\users\mpatil46\appdata\local\continuum\anaconda3\lib\site-packages (from python-dateutil>=2.7.3->pandas>=1.1->pandavro) (1.12.0)
Installing collected packages: fastavro, pandavro
Successfully installed fastavro-1.5.4 pandavro-1.7.2
Note: you may need to restart the kernel to use updated packages.